@model IEnumerable<Doctor>

@{
    ViewData["Title"] = "Doctors";
}

<h1>Doctors</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Specialty</th>
            <th>Email</th>
            <th>Clinic</th>
            <th>Examination Fee</th>
            <th>Follow Up Fee</th>
            <th>Is Active</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr>
            <td>@item.Name</td>
            <td>@item.Specialty</td>
            <td>@item.Email</td>
            <td>@item.Clinic?.Name</td>
            <td>@item.ExaminationFee</td>
            <td>@item.FollowUpFee</td>
            <td>@item.IsActive</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-secondary">Edit</a>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info">Details</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
